.div__modal__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.493);
    transform: translateX(-100%);
    transition: transform ease-in-out .3s;
    z-index: 9;
}

.div__modal__container__open {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
}