.form__confirmmodal__container {
    width: 661px;
    background-color: white;
    padding: 34px 49px;
}

.h4__confirmmodal__title {
    font-size: 1.375rem;
    color: #000;
    margin-bottom: 50px;
    font-weight: normal;
}

.div__confirmmodal__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.div__confirmmodal__buttons button {
    padding: 7px 30px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    margin-left: 16px;
    font-weight: 700;
    transition:all .1s ease-in-out;
}

.div__confirmmodal__buttons button:hover,
.div__confirmmodal__buttons button:active {
    color:#fff;
    background-color:#000;
}

@media(max-width:767px){
    .form__confirmmodal__container {
        width:90%;
    }
}