.div__postpage__container {
    width: 723px;
    margin: 44px auto;
}

.h2__loading__message,
.h2__notfound__message {
    text-align: center;
    margin: 40px 0;
}

.pagination__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination__link {
    display: inline-block;
    padding: 5px 16px;
    margin: 5px 16px;
    border: 1px solid #777777;
}

.pagination__link__disabled {
    color: #777777;
}

.pagination__pages {
    padding: 5px 16px;
    border: 1px solid #000;
    margin: 5px;
}

.pagination__link__active {
    background-color: #000;
    color: #fff;
}

@media(max-width:767px){
    .div__postpage__container {
        width: 95%;
    }

    .pagination__container {
        width: 100%;
    }

    
}

@media(max-width:320px){
    
}